/********************************************************************************/
:root {
    --header_background_color: #025FEB;
    --color_links: #FFFFFF;
    --links_hover_color: #F7F7F7;

    --font_header: #182C62;

    --margin_header: 0px;
    --heigh_header: 60px;

    --schedule_padding_top: 20px;
    --schedule_padding_left: 40px;
    --font_size_header_pages: 24px;
    --font_size_header_tables: 12px;
    --font_size_non_bold_tables: 14px;
    --font_size_bold_tables: 16px;
    --font_color_header_tables: #e4eef3;
    --font_color_tables: #ffffff;
    --font_size_header_table: 24px;
}
/********************************************************************************/
/* @media screen and (max-width:1280px) {
    .div_header {display:none};
} */
* {    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/********************************************************************************/

.float-container{
    height: 60px;
    top: 50%;
}
.div_header {
    background-color: var(--header_background_color);
    color: var(--white);
    font-size: 16px;
    height: var(--heigh_header);
    width: 100%;
}
.icon{
    height: 30px;
}
/********************************************************************************/
.logo{
    margin-left: 30px;
    width: 110px;
}
.div_logo {
    display: flex;
    align-items: center;
    margin-top: var(--margin_header);
    height: var(--heigh_header);
    float:left;
    width: 10%;
    
}  
/********************************************************************************/
.div_links {
    display: flex;
    align-items: center;
    margin-top: var(--margin_header);
    height: var(--heigh_header);
    padding-right: 40px;
    text-align: right;
}
a:link {
    color: var(--color_links);
    text-decoration: none;
}
a:active {
    color: var(--white);
}
a:visited {
    color: var(--white);
}
a:hover {
    text-decoration: underline;
    color: var(--links_hover_color);
}
/********************************************************************************/
.div_title_schedule{
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: var(--font_size_header_table);
}
.div_schedule{
    padding-top: var(--schedule_padding_top);
    padding-left: var(--schedule_padding_left);
}
.div_header_table{
    display: flex;
    align-items: center;
    font-size: var(--font_size_header_tables);
    font-weight: bold;
    height: 40px;
    background-color: var(--font_color_header_tables);
}
.div_table{
    display: flex;
    align-items: center;
    font-size: var(--font_size_non_bold_tables);
    height: 70px;
    background-color: var(--font_color_tables);
}
.div_table_bold{
    display: flex;
    align-items: center;
    font-size: var(--font_size_bold_tables);
    height: 70px;
    font-weight: bold;
    background-color: var(--font_color_tables);
}
/********************************************************************************/
.div_not_found{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}